body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width:460px;
   background:linear-gradient(to top, #F48FB1, #FFEBEE);    
}
header {
    background-color: #cecdcb;
    padding: 20px;
    text-align: left;
    max-width:460px;
}
.logo img {
   margin:0;
   padding:0;
}
h1 {
    margin: 25px;
    padding:0;
    font-size:2em;
    font-weight:bold;
    color:darkred;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 30px;
}
h2 {
    margin-top:20;
}
ul, ol {
    margin: 0;
    padding-left: 20px;
}
#services h2{
   font-size:3em;
   font-weight:bold;
   color:darkred;
}
#services ul{
    padding-top:0;
    margin-top:0;
}
#services ul li{
    font-size:2em;
   font-weight:bold;
}
.terapia h2{
    margin-top:20px;
    font-size:2.5em;
   font-weight:bold;
    color:darkred;
}
.terapia ol li{
    font-size:1.3em;
   font-weight:bold;
}
.contact h2{
   margin-top:20px; 
   font-size:3em;
   font-weight:bold;
   color:darkred;
}
#contact-form{
	font-size:2em;
	font-weight:bold;
}
.correo{
    padding-right:21px;
}
.mensajel{
    
}
.tarea{
    margin-top:20px;
}
.boton{
    margin-top:30px;
    margin-left:200px;
    font-size:1em;
    font-weight:bold;
    border-radius:10%;
}
.ansiedades li{
    color:white;
}
.toxicos li{
    color:white;
}
